<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="ida:Tenant" value="[Enter tenant name, e.g. contoso.onmicrosoft.com]" />-->
    <add key="ida:ClientId" value="c3d87580-26dc-49e4-bdb8-4a7830f2ac86" />
    <add key="ida:RedirectUri" value="https://www.example.com/arbitrary/" />
    <add key="todo:TodoListResourceId" value="https://localhost:44321/" />
    <!--<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />-->
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
    <add key="ida:Authority" value="https://dev-idp.vfltest.dk/adfs/"/>
  </appSettings>
</configuration>
